body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .General {
    width: 90%;
    height: 100vh;
    display: flex;
  }
  
  .mitad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Claro {
    width: 70%;
    height: 100vh;
    background-color: whitesmoke;
  }
  
.Oscuro {
    width: 30%;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.Cuadrados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    gap: 30px;
}
  
.Cuadrado {
    width: 60%;
    height: 30%;
    background-color: #ccc;
}
  