body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .Todo{
    display: flex;
    flex-direction: column;
  }

  .CuadradoLinea {
    width: 100vw;
    height: 40vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
  }  

  .Cuadrado{
    width: 20%;
    height: 80%;
    background-color: orangered;
  }

  .Lineas{
    width: 50%;
    height: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .Linearda{
    width: 50%;
    height: 15%;
    background-color: orangered;
  }

  .Linea1{
    width: 100%;
    height: 5%;
    background-color: white;
  }

  .Linea2{
    width: 100%;
    height: 5%;
    background-color: rgb(241, 240, 240);
  }

  .Linea3{
    width: 100%;
    height: 5%;
    background-color: rgb(255, 255, 255);
  }
  
  .Linea4{
    width: 50%;
    height: 5%;
    background-color: rgb(255, 255, 255);
  }
  
  
  

