body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* Ocultar barra para ir al costado*/
}

.Todo {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.CuadradoLinea {
  width: 100vw;
  height: 40vh;
  background-color: #fecd72;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 13vh;
}

.Cuadrado {
  width: 20%;
  height: 80%;
  background-color: #fbc262;
}

.Lineas {
  width: 50%;
  height: 100%;
  gap:4.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Linearda {
  width: 50%;
  height: 15%;
  background-color: #f9b547;
}

.Linea1 {
  width: 100%;
  height: 5%;
  background-color: white;
}

.Linea2 {
  width: 100%;
  height: 5%;
  background-color: white;
}

.Linea3 {
  width: 100%;
  height: 5%;
  background-color: white;
}

.Linea4 {
  width: 50%;
  height: 5%;
  background-color: white;
}

.Blanco {
  display: grid;
  grid-template-columns: repeat(3, 17vw);
  grid-template-rows: repeat(2, 17vw);
  gap: 8vw;
  justify-content: center;
}

.Cuadrados {
  width: 100%;
  height: 100%;
  background-color: #bae6ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.Interno {
  width: 60%;
  height: 60%;
  background-color: #a0d9e1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.Rect {
  width: 100%;
  height: 20%;
  background-color: #91d4dc;
  justify-content: flex-start;
}

.Gris {
  height: 30vh;
  width: 100vw;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Columnitas {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Columnas {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.CuadradoSuperior {
  background-color:#cccccc;
  height: 5vh;
  width: 20vw;
}

.LineaColumna {
  width: 20vw;
  height: 1.5vh;
  background-color: white;
}

.LineaColumna3 {
  width: 15vw;
  height: 1.5vh;
  background-color: white;
  align-self: center;
}

/* Consulte a gpt, lo que entendi fue esto: Cada cuadrado tiene un número  en el orden que se hizo, entonces se llama a este número y que "item" de este cuadrado se quiere modificar, como un div cualquiera, básicamente permite modificar las propiedades de algo específico indicando que queremos modificar.*/

.Cuadrados:nth-child(1) {
  background-color: #c9edf0;
}

.Cuadrados:nth-child(1) .Rect {
  background-color: #b2e2e6;
}

.Cuadrados:nth-child(1) .Interno {
  background-color: #a0d9e1;
}

.Cuadrados:nth-child(2) {
  background-color: #fda48b;
}

.Cuadrados:nth-child(2) .Rect {
  background-color: #fa9074;
}

.Cuadrados:nth-child(2) .Interno {
  background-color: #f37d60;
}

.Cuadrados:nth-child(3) {
  background-color: #fdd674;
}

.Cuadrados:nth-child(3) .Rect {
  background-color: #fcd062;
}

.Cuadrados:nth-child(3) .Interno {
  background-color: #fbc84f;
}

.Cuadrados:nth-child(4) {
  background-color: #fdd674;
}

.Cuadrados:nth-child(4) .Rect {
  background-color: #fcd062;
}

.Cuadrados:nth-child(4) .Interno {
  background-color: #fbc84f;
}

.Cuadrados:nth-child(5) {
  background-color: #c9edf0;
}

.Cuadrados:nth-child(5) .Rect {
  background-color: #b2e2e6;
}

.Cuadrados:nth-child(5) .Interno {
  background-color: #a0d9e1;
}

.Cuadrados:nth-child(6) {
  background-color: #fda48b;
}

.Cuadrados:nth-child(6) .Rect {
  background-color: #fa9074;
}

.Cuadrados:nth-child(6) .Interno {
  background-color: #f37d60;
}
